/* regole generali  */





/* regole header  */
header {
    background-color: white;
    height: 70px;
}

header nav {
    height: 70px;
}

#sm_logo {
    width: 40px;
}

#searchBar {
    width: min-content;
}

#bellDropdown {
    right: 0;
}


/* regole contenuto principale  */
#central_container {
    display: flex;
    
}

/* regole main  */

main {
    max-height: 100%;
    width: calc(100% - 100px);
    height: calc(100vh - 70px);
    overflow-y: auto;
}

#section-classi table img{
    max-width: 100%;
    width: 20px;
}


/* regole side bar  */
#nav_side_bar {
    max-height: calc(100vh - 70px);
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #121d30;
}

#nav_side_bar a {
    padding: 5px 5px;
}

#nav_side_bar a:hover {
    padding: 5px 5px;
    background-color: rgba(128, 128, 128, 0.463);
}

/* regole sidebar responsive  */
/* media query md in su */
@media screen and (max-width: 767px) {
    #nav_side_bar {
        width: 70px;

    }
    main {
        width: calc(100% - 70px);
        height: calc(100vh - 70px);
        overflow-y: auto;

}
}





